
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

<form action="#" method="POST">

    <br>
    <label for="name"><b>Name</b></label>
    <br>

    <input type="text" class="form-control"  placeholder="First Name" name="fname" id="fname" value="">
    <br>

    <input type="text" class="form-control"  placeholder="Last Name" name="lname" id="lname" value="">
    <br>

    <label for="add"><b>Address</b></label>
    <br>

    <input type="text" class="form-control"  placeholder="Street Address" name="address" id="address" value="">
    <br>

    <input type="text" class="form-control" placeholder="City" name="city" id="city" value="">
    <br>

    <input type="text" class="form-control" placeholder="State/Province" name="state" id="state" value="">
    <br>

    <input type="text" class="form-control" placeholder="Postal/Zip Code" name="postal" id="postal" value="">
    <br>

    <label for="date"><b>Date</b></label>
    <br>

    <input type="date" class="form-control" name="date" id="date" value="">
    <br>

    <label for="payment"><b>Payment Method</b></label>
    <br>

    <input type="radio" name="payment" value="card">Card
    <br>

    <input type="radio" name="payment" value="check">Check
    <br>

    <input type="radio" name="payment" value="cash">Cash
    <br>


    <label for="product"><b>My Product</b></label>
    <br>

    <input type="checkbox" name="product" value="a game of thrones">A Game of Thrones TK.1800.00
    <br>

    <input type="checkbox" name="product" value="harry potter">Harry Potter TK.2100.00
    <br>

    <input type="checkbox" name="product" value="meghpion">MeghPion TK.468.00
    <br>

    <p><b>Total: TK.4368.00</b></p>
    <br>

    <input type="submit" value="Submit">

</form>