@model Ketabkhana.Models.EF.Book

@{
    ViewBag.Title = "DeleteBook";
}

<h2>Are you sure want to delete this book?</h2>

<form action="/Shop/DeleteBook" method="post">

    Book Id: <input type="text" class="form-control" value=@Model.id name="id" readonly  />

    Book Title: <input type="text" class="form-control" value=@Model.bookTitle name="bookTitle" />

    Book Author: <input type="text" class="form-control" value=@Model.author name="author" /><br>

    Book Publisher: <input type="text" class="form-control" value=@Model.publisher name="publisher" /><br>

    Book Edition: <input type="text" class="form-control" value=@Model.edition name="edition" /><br>

    Book Price: <input type="number" class="form-control" value=@Model.price name="price" /><br>

    Book Quantity: <input type="number" class="form-control" value=@Model.quantity name="quantity" /><br>

    Book Thumbnail: <input type="text" class="form-control" value=@Model.thumbnail name="thumbnail" /><br>

    Shop ID: <input type="number" class="form-control" value=@Model.shopId name="shopId"  readonly /><br>

    <input type="submit" value="Delete" class="btn btn-danger">

</form>