@model Ketabkhana.Models.VM.ShopModel
@{
    ViewBag.Title = "UpdateShop";
}

<h2>Update Shop</h2>

<form action="/Admin/UpdateShop" method="post">

    ID: <input type="number" class="form-control" value=@Model.id name="id" readonly />

    Shop Name: <input type="text" class="form-control" value=@Model.shopName name="shopname" />
    @Html.ValidationMessageFor(m => m.shopName, "", new { @class = "text-danger" })<br>

    Shop Address: <input type="text" class="form-control" value=@Model.shopAddress name="shopaddress" />
    @Html.ValidationMessageFor(m => m.shopAddress, "", new { @class = "text-danger" })<br>

    Username: <input type="text" class="form-control" value=@Model.username name="username" readonly />

    Email: <input type="email" class="form-control" value=@Model.email name="email" />
    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })<br>

    Password: <input type="password" class="form-control" value=@Model.password name="password" />
    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })<br>

    <input type="submit" value="Edit" class="btn btn-success">

</form>