
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Registration Form</h2>
<br />

<h3>Choose option:</h3>

<td><a href="/Registration/Customer" class="btn btn-primary" style="width: 100%; height:40px;"><b style="font-size:20px">Customer</b></a></td>
<br />
<br />

<td><a href="/Registration/Shop" class="btn btn-success" style="width: 100%; height: 40px;"><b style="font-size: 20px">Shop</b></a></td>